/* all page */
*, ::after, ::before {
    box-sizing: border-box;
}

body p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: initial!important;
    color: #afafaf;
}

/* all body */
.outer-container {
    width: calc(100% - 90px);
    margin: 0 auto;
    align-items: center;
}

/* header css */
.site-header {
    margin-top: 12px;
    margin-bottom: 40px;
}
.top-header-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.bar-left{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.bar-right{
    display: flex;
    flex-wrap: nowrap;
}
.contact-email{
    margin-left: 20px;
}

ul.header-bar-icon{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;

}
li{
    margin-right: 20px;
    
}
.bar-search{
    display: flex;
    padding: 10px;
}
.site-title{
    display: flex;
}
.navbar{
    justify-content: center;
}
.navbar-main{
    display: flex;
    list-style-type: none;
}
.site-title a{
    color: #2f2f2f;
    text-decoration: none;
    font-family: 'Grape Nuts', cursive;
    font-size: 120px;
    padding: 30px;
}
.site-title{
justify-content: center;

}
.top-header-bar a{
    color: #afafaf;
    
}
.top-header-bar a:hover{
    color: #2071eb;
}

ul.navbar-main li{
    padding: 10px;
    margin-left: 30px;
}

li a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


/* Slider and youtube col*/
.container-fluid {
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
width: 100%;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
margin-right: auto;
margin-left: auto;
}

.post-header{
    text-align: center;
}

.single-page .content-wrap .featured-image img {
    max-width: 100%;
    
}

.row{
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

img{
    vertical-align: baseline;
}

.yt-subscribe img {
    border-radius: 50%;
}

.yt-subscribe {
    position: absolute;
    bottom: -291px;
    text-align: center;
    width: calc(100% - 1594px);
}

.yt-subscribe h3 {
text-align: center;
padding: 0 15px;
margin-top: 15px;
font-size: 36px;
font-family: 'BeyondTheMountains';
color: #2f2f2f;
}

/*single page layout*/
.single-page{
    padding-top: 0;
    padding-bottom: 100px;
}

#singlepage1 {
    margin-top: 110px;
    text-align: center;
    color: #afafaf;
}

.featured-image{
    text-align: center;
}

.single-page .content-wrap .featured-image{
    margin-top: 42px;
}

.single-page .sidebar{
    margin-top: 290px;
}
.single-page .content-wrap .posted-date{
    font-size: 12px;
    letter-spacing: .08rem;
    text-transform: uppercase;
}


.post-title{
    margin-top: 12px;
    margin-bottom: 8px;
    font-family: cursive;
    font-size: 30px;
    color: black;
}

.single-page .content-wrap .tags-links a{
    margin-right: 15px;
    font-size: 16px;
    color: #afafaf;
}
.tags-links{
    margin-top: 35px;
}

.single-page .content-wrap .entry-content p{
    font-size: 14px;
    line-height: 2rem;
    text-align: left;
}

.entry-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#share1{
    float: left;
    vertical-align: auto;
    margin: 10px;
    padding: 0;
}
a.read-more{
    display: block;
    width: 200px;
    padding: 20px 0;
    font-size: 14px;
    background-color: rgb(51, 49, 49);
    margin-right: 169px;
    text-align: center;
}

.post-share{
    display: flex;
    align-items: center;
}

.post-share li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin: 0 12px;
    font-size: 15px;
}

.label{
    margin: 0 12px 0 0;
    font-size: 18px;
}
/*sidebar*/
.about-me{
    text-align: center;
}

.about-me p{
    margin-top: 38px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.85rem;
    color: #afafaf;
}

figure img{
    max-width: 100% ;
}

.recent-posts{
    margin-top: 30px;
}

.recent-post-wrap{
    margin-top: 60px;
}

.posted-date{
    margin-bottom: 15px;
}

.recent-post-wrap .tags-links a{
margin-right: 5px;
font-size: 15px;
color: #afafaf;
text-decoration: none;
}

.recent-post-wrap h3 a {
    font-size: 18px;
    color: #2f2f2f;
    text-decoration: none;
}

.sidebar .tags-list a {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 14px 25px;
    font-size: 11px;
    color: #fff;
    background: #2f2f2f;
    text-transform: uppercase;
    letter-spacing: .08rem;
}

.sidebar .tags-list {
    margin-top: 100px;
}

.single-page .content-wrap .entry-footer{
    margin-top: 50px;
}
.content-wrap {
    margin-top: 100px; 
}

.pagination{
   margin-top: 100px;
   display: flex;
}

/* pagination  */
.list-pagination{
    list-style: none;
    display: flex;
}

.pagination li{
    margin-right: 10px;
}
.pagination li a:hover, .pagination li.active a{
    color: #fff;
    background: #2f2f2f;
}

.pagination li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 11px;
    color: #2f2f2f;
    background: #f0f0f0;
    text-decoration: none;
}

